* {
    box-sizing: border-box;
    --cor-azul-escuro: #126BA5;
    --cor-fundo-corpo: #E5E5E5;
    --cor-azul-claro: #52B6FF;
    --cor-cinza-dias: #CFCFCF;
    --cor-cinza-check: #EBEBEB;
    --cor-cinza-borda: #D4D4D4;
    --cor-cinza-letras: #666666;
    --cor-verde: #8FC549;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: ;
}